.productCard {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 24.1%;
    margin-top: 20px;
}

.imgbox {
    

    img {
        width: 100%;
    }
}

.productsContainer {
    display: flex;
    width:70%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (max-width:568px) {
    .productCard {
        width: 90%;
    }
}